/* src/styles/global.css */

body {
  font-family: 'Comic Sans MS', cursive;
  font-size: 17px;
  background: #000 url('https://blob.gifcities.org/gifcities/2D5BTPJP2UJ3R6SCF2KF4NW374RNGK3B.gif') repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  margin: 0;
}

img {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 30px;
    font-family: 'Comic Sans MS', cursive;
}

p {
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
}

a { color: #0000ee; text-decoration: underline; }
a:visited { color: #551a8b; }
a:hover { color: #ff0099; }