---
// src/pages/index.astro
import '../styles/global.css'

import WavyText from '../components/WavyText.astro'
import WiggleText from '../components/WiggleText.astro'
---

<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>ne.ko</title>
  </head>

  <main>
    <header />
  </main>

  <body>
    <h1><WavyText text="FUCKING AWESOME WEBSITE (NE.KO)!!!!!" /></h1>
    <img src="https://blob.gifcities.org/gifcities/ZT2JBJTQ2HBNDLF2H5TX5KUHW7DTRRLW.gif" alt="cat"/>
    <p>
      ma name is vanni<br>
      also known as uhvanni<br>
      mainly a programmer<br>
      october 13th ma birfday<br><br>
      email me here: <a href="mailto:contact@ne-ko.io">contact@ne-ko.io</a>
    </p>
    <h1><WavyText text="things I've worked on or are currently working on" /></h1>
    <img src="https://blob.gifcities.org/gifcities/3RCSKL2ZY3EXK5ZUOFSVHWMZOI6LIQ3C.gif" alt="cat"/>
    <p>
      * = not working on it anymore<br><br>
      fisch: <a href="https://www.roblox.com/games/16732694052/" target="_blank" rel="noopener noreferrer">https://www.roblox.com/games/16732694052/</a><br>
      a few minutes with hubert: <a href="https://www.roblox.com/games/119606218608033/" target="_blank" rel="noopener noreferrer">https://www.roblox.com/games/119606218608033/</a> *<br>
      staying together: <a href="https://www.roblox.com/games/12146876781/" target="_blank" rel="noopener noreferrer">https://www.roblox.com/games/12146876781/</a> *<br>
    </p>
    <h1><WavyText text="things I like" /></h1>
    <img src="https://blob.gifcities.org/gifcities/HKJZAGKZA4IMQU4GOKT753OHYKMSDBQB.gif" alt="cat"/>
    <p>
      I like to program in luau (roblox programming language)<br>
      I like to design UI<br>
      I like chicken<br>
      I like cats
    </p>
  </body>
</html>